@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-lg-10">
        <div class="jumbotron">
            <h1>Why Programming is Fun</h1>
            <h5>By David Intersimone</h5>
            <p class="lead">
                Programming legend David I. lists his top reasons why programming has always been—and will always be—fun.
                David is Vice President of Developer Relations and Chief Evangelist for Borland Software. He can be contacted
                at http://blogs.borland .com/davidi/.
            </p>
            <p><a href="http://www.drdobbs.com/architecture-and-design/why-programming-is-fun/196603871" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
      </div>
    <div class="col-lg-2">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=250&h=150">
        <h5>Some ads mixed up with links to the videos or something like that </h5>
    </div>
</div class="row">

<div class="row">
    <!--Some changes to commit-->
    <div class="col-md-4">
        <h2>Building a WebSite </h2>
        <p>
            Here we can place articles and some tutorials related to process of building web site and things like HTML, CSS,
             Bootstrap and other stuff. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Building an App</h2>
        <p>Info about software engeneering, Java, C++, Visual Basic and other stuff.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What's New in Tech</h2>
        <p>On this page we could display articles about all kinda stuff</p>
        <p><a class="btn btn-default" href="http://thetechbreakdown.com" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>